.header {
  background-color: black;
  padding: 10px 20px;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu {
      padding-top: 10px;
      height: 20px;
    }

    &__logo {
      height: 40px;
    }

    &__light {
      padding-top: 10px;
      height: 30px;
    }
  }
}
