.header {
  background-color: $color-sec;
  padding: 8px 25px;
  height: 5vh;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu {
      height: 35px;
      padding-right: 26px;
    }

    &__logo {
      height: 32px;
      padding-bottom: 3px;
    }

    &__light {
      height: 25px;
    }
  }
}
