.main {
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2em;

  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    height: 115px;
  }
}
