.button {
  border-radius: 25px;
  border: 1px solid $black;
  box-shadow: 4px 4px 4px 0px rgba(0, 121, 107, 0.5);
  width: 8em;
  padding: 0.5em 0;
  text-transform: uppercase;

  background: white;
  font: 16px $font-text;

  &:hover {
    background-color: $color-sec;
    color: $white;
  }
}
