$font-title: 'Roboto Slab', serif;
$font-text: 'Roboto', sans-serif;
$size: 18px;

$black: #000;
$white: #eff9ff;
$green: #00796b;

$color-light: $white;
$color-dark: $black;
$color-sec: $green;

:root {
  font: $size $font-text;
  background-color: $color-light;
  color: $green;
}
